@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">The CBA ran into an error, please contact the Administrator (Deko) to fix it</h2>

