@model GCBA.Models.TellerPosting

@{
    ViewBag.Title = "StatusPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Teller Posting Success</h2>

@Html.ActionLink("Go Back To User Posts", "UserPosts")