@model GCBA.Models.TellerPosting

@{
    ViewBag.Title = "TellerPostFail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Teller Posting Failed</h2>

@Html.ActionLink("Go Back To User Posts", "UserPosts")

